h2 {
  border-bottom: double 5px;
  margin: 30px auto;
  width: 15%;
}

.row-align {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15%;
    margin-top: 2em;
}

.contact-down {
    margin-bottom: 2em;
}

.email-form {
    width: 40%;
    margin: auto;
    margin-top: 3%;
    border: 1px solid #98afc7;
    border-radius: 5px;
    padding: 40px 40px 5px 40px;
}

.highlight {
    text-transform: uppercase;
    color: #dcdcdc;
}

input {
    width: 96%;
    padding: 1em;
    margin: 1em 0em;
    border-radius: 5px;

}

.submit {
    width: 25%;
    background-color: #ffa500;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

textarea {
    width: 96%;
    padding: 1em;
    border-radius: 5px;
}

